{% extends "network/layout.html" %}

{% block body %}
    <div class="mt-4">
        <h1 class="text-center">Feed</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>


        
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="newPost">
            <div class="mb-3">
              <label for="message-text" class="col-form-label" >Content:</label>
              <textarea class="form-control" id="postContent"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="submitBtn" value="Post" >
            </div>
           
          </form>
        </div>
        
      </div>

    </div>
  </div>


        <section class="post-container mt-4">


          {% for post in posts  %}
            <div class="post  border mt-4 rounded shadow" style="width:40rem;">
              <h3>{{post.user}}</h3>
              <p>{{post.content}}</p>  
              {% if user.is_authenticated %}

              <div class="likesContainer">
                <p id="counter" >{{post.likes.all.count}}</p>
               <i class="{% if request.user in post.likes.all  %}fa-solid {% else %} fa-regular {% endif %} fa-heart icon" data-id="{{post.id}}"   style="color: #000000;"></i>
              </div>

               {% endif %}
             
              
            <p class="text-muted">{{post.date}}</p>  
          </div>
          {% endfor %}
          

        </section>
        

    </div>

{% endblock %}

{% block js %}
<script src="static/network/main.js"></script>

{% endblock js %}


