.post-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.post{
    padding: 10px;
    text-align: center;
}

.icon{
    font-size: 25px;
}
.fa-solid{
    color: #ea0606 !important;
}

.likesContainer{
    display: flex;
   flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.likesContainer p{
    margin-right: 6px;
    margin-bottom: 0;
}




.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}